.address {
  background: #fff;
  padding: 50px 40px;
  display: flex;
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  max-width: 1200px;
  z-index: 99999;
  justify-content: space-between;
  margin-bottom: 30px;

  .item {
    display: flex;
    align-items: center;
    width: 300px;

    i {
      height: 100%;
      color: #d2a637;
      font-size: 50px;
      padding-right: 30px;
      margin-right: 20px;
      border-right: 1px solid #e9e9e9;
    }

    h3 {
      margin-bottom: 20px;
    }
  }
}

.form {
  padding: 70px 200px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    text-transform: uppercase;
    font-size: 42px;
    padding: 0 20px;
    border-left: 3px solid #d2a637;
    border-right: 3px solid #d2a637;
    line-height: 0.8;
  }

  .des {
    margin-top: 8px;
    font-style: italic;
    color: #333333;
    font-weight: 700;
    margin-bottom: 40px;
  }

  input, textarea {
    background: #fcfcfc;
    border: 1px solid #eeeeee;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    margin: 10px 0;

    &:focus {
      outline: none !important;
      outline-color: transparent !important;
    }
  }

  .send-btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background: #4666a3;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #fff;
    border: 0;
    margin-top: 15px;

    &:focus {
      background: #2f456d;
    }
  }

  @media screen and (max-width: 1280px) {
    padding: 70px 30px;
  }
}
